In [4]:
!pip install lxml

Collecting lxml
  Obtaining dependency information for lxml from https://files.pythonhosted.org/packages/77/e5/1f23e56678244258483521872507d64130cac9466902aca3f3141b8fb06b/lxml-4.9.3-cp312-cp312-win_amd64.whl.metadata
  Downloading lxml-4.9.3-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Downloading lxml-4.9.3-cp312-cp312-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB 330.3 kB/s eta 0:00:12
    --------------------------------------- 0.1/3.8 MB 409.6 kB/s eta 0:00:10
    --------------------------------------- 0.1/3.8 MB 476.3 kB/s eta 0:00:08
   - -------------------------------------- 0.2/3.8 MB 704.6 kB/s eta 0:00:06
   -- ------------------------------------- 0.2/3.8 MB 811.5 kB/s eta 0:00:05
   --- ------------------------------------ 0.3/3.8 MB 886.2 kB/s eta 0:00:04
   --- ------------------------------------ 0.3/3.8 MB 941.3 kB/s eta 0:00:04
   ----- ---------------------------------- 0.5/3.8 MB 1.2 MB/s eta 0:00:03
   ------- -------------------------------- 0.7/3.8 MB 1.5 MB/s eta 0:00:02
   --------- ------------------------------ 0.9/3.8 MB 1.8 MB/s eta 0:00:02
   --------------- ------------------------ 1.4/3.8 MB 2.6 MB/s eta 0:00:01
   ------------------ --------------------- 1.7/3.8 MB 2.9 MB/s eta 0:00:01
   ------------------- -------------------- 1.8/3.8 MB 3.0 MB/s eta 0:00:01
   ------------------- -------------------- 1.8/3.8 MB 3.0 MB/s eta 0:00:01
   ------------------- -------------------- 1.8/3.8 MB 3.0 MB/s eta 0:00:01
   ------------------- -------------------- 1.8/3.8 MB 3.0 MB/s eta 0:00:01
   ----------------------- ---------------- 2.2/3.8 MB 2.7 MB/s eta 0:00:01
   ------------------------ --------------- 2.3/3.8 MB 2.7 MB/s eta 0:00:01
   ------------------------ --------------- 2.3/3.8 MB 2.7 MB/s eta 0:00:01
   ------------------------ --------------- 2.3/3.8 MB 2.7 MB/s eta 0:00:01
   ------------------------ --------------- 2.3/3.8 MB 2.7 MB/s eta 0:00:01
   --------------------------- ------------ 2.6/3.8 MB 2.5 MB/s eta 0:00:01
   --------------------------- ------------ 2.6/3.8 MB 2.5 MB/s eta 0:00:01
   ------------------------------------ --- 3.4/3.8 MB 2.9 MB/s eta 0:00:01
   ------------------------------------- -- 3.5/3.8 MB 3.0 MB/s eta 0:00:01
   -------------------------------------- - 3.7/3.8 MB 3.0 MB/s eta 0:00:01
   -------------------------------------- - 3.7/3.8 MB 3.0 MB/s eta 0:00:01
   -------------------------------------- - 3.7/3.8 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------  3.8/3.8 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 2.7 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-4.9.3

In [5]:
import pandas as pd
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [11]:
a : int = 11
b : int = 3

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

14
8
33
3.6666666666666665
2

In [14]:
print(2**2)
print(2**3)

4
8

In [22]:
print (12 / 3)
print (14 / 3)
print (14 // 3)

4.0
4.666666666666667
4

In [23]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [33]:
a:int = 7
print(a)
a +=2
print(a)

7
9

In [34]:
a:int = 7
print(a)
a -=2
print(a)

7
5

In [35]:
a:int = 7
print(a)
a *=2
print(a)

7
14

In [36]:
a:int = 7
print(a)
a /=2
print(a)

7
3.5

In [37]:
a:int = 7
print(a)
a %=2
print(a)

7
1

In [38]:
a:int = 7
print(a)
a //=2
print(a)

7
3

In [39]:
a:int = 7
print(a)
a **=2
print(a)

7
49

In [40]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [42]:
a :int =7 
b :int =20

print(a==b)

False

In [43]:
a :int =20
b :int =20

print(a==b)

True

In [44]:
a :int =20
b :str = '20'

print(a==b)

False

In [46]:
a :int =20
b :int =20

print(a!=b)

False

In [47]:
a :int =20
b :int =10

print(a>b)

True

In [49]:
a :int =10
b :int =30

print(a>b)

False

In [50]:
a :int =10
b :int =30

print(a<b)

True

In [51]:
a :int =30
b :int =10

print(a<b)

False

In [53]:
a :int =5
b :int =10

print(a>=b)

False

In [54]:
a :int =10
b :int =10

print(a>=b)

True

In [55]:
a :int =10
b :int =10

print(a<=b)

True

In [56]:
a :int =10
b :int =5

print(a<=b)

False

In [58]:
a :str = 'A'
b :str = 'B'

print(a>=b)

False

In [59]:
a :str = 'A'
b :str = 'a'

print(a>=b)

False

In [60]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [61]:
True and True and True and True

True

In [62]:
print(True and False and True and True)

False

In [65]:
print(False or False or False or True)
print(False or False or False or False)

True
False

In [70]:
print(not True)
print(not False)

False
True

In [71]:
name :str = "Masab"
print(not name=="Masab")

False

In [72]:
name :str = "Masab"
print(name!="Masab")

False

In [73]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [75]:
x :str ='abc'
z :str ='abc'
print(id(x))
print(id(z))

140721649815816
140721649815816

In [76]:
x :str ='abc'
z :str ='abc'
print(id(x))
print(id(z))

x is not z

140721649815816
140721649815816

False

In [78]:
i :str ='abc'
j :str ='xyz'
print(id(i))
print(id(j))

i is j

140721649815816
2728447297024

False

In [79]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [81]:
names : list[str] = [chr (i) for i in range(65,91)] 
"D" in names

True

In [82]:
names : list[str] = [chr (i) for i in range(65,91)] 
"Das" in names

False

In [85]:
names : list[str] = ['Masan','MBZ', 'Qasim']

uinput : str = input("Enter your name")

uinput in names

True

In [86]:
names : list[str] = ['Masan','MBZ', 'Qasim']

uinput : str = input("Enter your name")

uinput not in names

False

In [88]:
print(3 + 2 - 2 * 4 /2 + 2)
#     3+2−2×4÷2+2
#     3 + 2 - 4 + 2
#      6    - 8

3.0

In [89]:
print((6 + 3) - (6 + 3))

0

In [90]:
universe_age: int  = 14_000_000_000
print(universe_age)

14000000000

In [91]:
a , b  , c  = 'qasim', 7, 3.0

print(a)
print(b)
print(c)

qasim
7
3.0

In [93]:
data = ('qasim', 7, 3.0)
print(data[0], data[1], data[2])

qasim 7 3.0

In [94]:
data = ('qasim', 7, 3.0)
print(*data)

qasim 7 3.0

In [95]:
2 * 2
"a" * 3

'aaa'

In [96]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!